body {
  font-family: 'Source Sans Pro', sans-serif;
  background: rgb(232,245,253);
}

.intro {
  background-color: #ffffff;
  border: 2px solid rgb(185,225,250);
  border-radius: 10px;
  height: 25vh;
}

.intro a {
  color: rgb(80,182,245);
  font-weight: 600;
  text-decoration: none;
}

.intro p{
  font-size: 1.2em;
}

.intro p, a{
  padding: 25px 45px;
}

header h1 {
  color: rgb(80,182,245);
  display: inline-block;
  font-size: 2.5em;
  font-weight: 600;
}

header i {
  background: transparent;
  color: rgb(80,182,245);
}

.second-row {
  margin-top: 25px;
}

textarea {
  background-color: #ffffff;
  border: 2px solid rgb(185,225,250);
  border-radius: 5px;
  resize: none;
}

.btn {
  background-color: rgb(80,182,245);
  border: none;
  border-radius: 14px;
  color: #ffffff;
  font-size: 1.2em;
  margin-top: 5px;
  padding: 5px 20px;
}

.btn:hover {
  color: #ffffff;
  font-size: 1.3em;
}

#counter {
  color: rgb(80,182,245);
  font-size: 1.2em;
  font-weight: 600;
  margin-left: 5px;
}

section h3 {
  color: rgb(80,182,245);
  font-weight: 400;
}

.bg-container {
  background-color: #fff;
}
@media (max-width: 767px) {
  .form-mobile {
    margin-top: 25px;
  }
}
